<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Township Micro-Investment Platform</title>
    <link rel="stylesheet" href="/views/styles.css"/>
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-straight/css/uicons-bold-straight.css"
    />
  </head>
  <body>
    <!-- Navigation Bar -->
    <header class="navbar">
      <a href="/"><h1 class="logo"><i class="fi fi-bs-square-m"></i>Makhie</h1></a>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/businesses">Businesses</a></li>
          <!-- <li><a href="invest.html">Invest</a></li> -->
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav>
    </header>

    <!-- Login Form -->
    <center style="padding: 50px;">
        <form action="/" method="POST">
            <label for="email"></label>
            <input id="email" type="text" placeholder="email address">

            <label for="password"></label>
            <input id="password" type="password" placeholder="password">

            <input type="submit" value="Login">
        </form>
    </center>

    <!-- Footer -->
    <footer class="footer">
      <p>
        &copy; 2024 Township Micro-Investment Platform. All Rights Reserved.
      </p>
    </footer>
    <script src="/scripts/app.js"></script>
  </body>
</html>
